#
[mysqld]

#time_zone
default-time_zone = '+8:00'

# GENERAL #
character_set_server           = utf8mb4
collation_server               = utf8mb4_general_ci
user                           = mysql
default_storage_engine         = InnoDB
port                           = 3318
socket                         = /home/q/mysql/multi/3318/socket/mysql.sock
pid_file                       = /home/q/mysql/multi/3318/pid/mysql.pid

# MyISAM #
key_buffer_size                = 128M
myisam_sort_buffer_size        = 8M
read_rnd_buffer_size           = 262144

# SAFETY #
back_log                       = 50
bind-address                   = 0.0.0.0
innodb_strict_mode             = 1
max_allowed_packet             = 32M
max_connect_errors             = 1000000
interactive_timeout            = 900
wait_timeout                   = 900
skip_grant_tables              = 0
skip_name_resolve              = 0
host_cache_size                = 0
sql_mode                       = TRADITIONAL
sysdate_is_now                 = 1
transaction_isolation          = READ-COMMITTED
#explicit_defaults_for_timestamp = 1

# DATA STORAGE #
basedir                        = /home/q/mysql/base
datadir                        = /data1/mysql/multi/3318/data
tmpdir                         = /home/q/mysql/multi/3318/tmp

# BINARY LOGGING #
binlog_cache_size              = 1M
binlog_format                  = ROW
expire_logs_days               = 7
max_binlog_size                = 512M
#max_binlog_cache_size          = 4G
log_bin                        = /data1/mysql/multi/3318/binlog/mysql-bin
log_bin_index                  = /data1/mysql/multi/3318/binlog/mysql-bin.index
sync_binlog                    = 2
#innodb_support_xa              = 1

# REPLICATION #
log_slave_updates              = 1
read_only                      = 1
super_read_only                = 1
relay_log                      = /data1/mysql/multi/3318/binlog/relay-bin
relay_log_index                = /data1/mysql/multi/3318/binlog/relay-bin.index
server_id                      = 1062010
slave_skip_errors              = OFF
skip_slave_start
slave_net_timeout              = 60
slave_compressed_protocol      = ON

# CACHES AND LIMITS #
max_connections                = 5000
max_heap_table_size            = 128M
tmp_table_size                 = 128M
open_files_limit               = 65535
query_cache_limit              = 1M
query_cache_min_res_unit       = 4096
query_cache_size               = 0
query_cache_type               = 0
join_buffer_size               = 1M
read_buffer_size               = 1M
sort_buffer_size               = 1M
table_definition_cache         = 4096
table_open_cache               = 4000
thread_cache_size              = 1000

# INNODB #
innodb_autoextend_increment    = 1
innodb_buffer_pool_instances   = 4
innodb_buffer_pool_size        = 32G
innodb_max_dirty_pages_pct     = 50
innodb_buffer_pool_load_at_startup  = ON
innodb_buffer_pool_dump_at_shutdown = ON
#innodb_data_file_path          = ibdata1:1024M:autoextend
innodb_fast_shutdown           = 1
innodb_file_per_table          = 1
innodb_force_recovery          = 0
innodb_flush_log_at_trx_commit = 2
innodb_flush_method            = O_DIRECT
innodb_lock_wait_timeout       = 50
innodb_log_buffer_size         = 8M
innodb_log_file_size           = 768M
innodb_log_files_in_group      = 4
innodb_io_capacity             = 2000
innodb_adaptive_flushing       = ON
innodb_open_files              = 10000
innodb_purge_threads           = 4
innodb_read_io_threads         = 8
innodb_write_io_threads        = 8
innodb_sync_spin_loops         = 30
innodb_thread_concurrency      = 24
innodb_print_all_deadlocks     = 1

# LOGGING #
general_log                    = 0
general_log_file               = /home/q/mysql/multi/3318/log/mysql-general.log
log_error                      = /home/q/mysql/multi/3318/log/mysql-error.log
log_queries_not_using_indexes  = 0
long_query_time                = 1
slow_query_log                 = 1
slow_query_log_file            = /home/q/mysql/multi/3318/log/mysql-slow.log

# MGR
binlog_checksum                = NONE
enforce_gtid_consistency       = ON
gtid_mode                      = ON
master_info_repository         = TABLE
relay_log_info_repository      = TABLE
transaction_write_set_extraction = XXHASH64
disabled_storage_engines       = "MyISAM,BLACKHOLE,FEDERATED,ARCHIVE,MEMORY"
lower_case_table_names         = 1  # 表名存储在磁盘是小写的，比较的时候是不区分大小写

slave_parallel_type            = LOGICAL_CLOCK
slave_parallel_workers         = 8
binlog_transaction_dependency_history_size = 25000
binlog_transaction_dependency_tracking = WRITESET
slave_preserve_commit_order    = 1

plugin_load_add                ='group_replication.so'
group_replication_poll_spin_loops                  = 10000
group_replication_transaction_size_limit           = 150000000  #最大可允许的事务大小143M，可以根据实际情况进行调整,事务超过该值将被回滚。
group_replication_compression_threshold            = 2000000    #default 1M message compression 
group_replication_flow_control_applier_threshold   = 25000      #默认25000
group_replication_flow_control_certifier_threshold = 25000      #默认25000
group_replication_flow_control_mode                = QUOTA      #默认QUOTA
###
